#menu-icon {
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    transition: opacity 0.3s;
}

.menu-layer {
    display: none;
    position: fixed;
    top: 40px;
    left: 10px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
}