/************************************************************
** 请将全局样式拷贝到项目的全局 CSS 文件或者当前页面的顶部 **
** 否则页面将无法正常显示                                  **
************************************************************/

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Microsoft Yahei', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

.gc-flex-row {
  display: flex;
  flex-direction: row;
}


.gc-justify-start {
  justify-content: flex-start;
}

.gc-justify-end {
  justify-content: flex-end;
}

.gc-justify-center {
  justify-content: center;
}

.gc-justify-between {
  justify-content: space-between;
}

.gc-justify-around {
  justify-content: space-around;
}

.gc-justify-evenly {
  justify-content: space-evenly;
}

.gc-items-start {
  align-items: flex-start;
}

.gc-items-end {
  align-items: flex-end;
}

.gc-items-center {
  align-items: center;
}

.gc-items-baseline {
  align-items: baseline;
}

.gc-items-stretch {
  align-items: stretch;
}

.gc-self-start {
  align-self: flex-start;
}

.gc-self-end {
  align-self: flex-end;
}

.gc-self-center {
  align-self: center;
}

.gc-self-baseline {
  align-self: baseline;
}

.gc-self-stretch {
  align-self: stretch;
}

.gc-flex-1 {
  flex: 1 1 0%;
}

.gc-flex-auto {
  flex: 1 1 auto;
}

.gc-grow {
  flex-grow: 1;
}

.gc-grow-0 {
  flex-grow: 0;
}

.gc-shrink {
  flex-shrink: 1;
}

.gc-shrink-0 {
  flex-shrink: 0;
}

.gc-relative {
  position: relative;
}

.gc-ml-2 {
  margin-left: 0.13rem;
}

.gc-mt-2 {
  margin-top: 0.13rem;
}

.gc-ml-4 {
  margin-left: 0.25rem;
}

.gc-mt-4 {
  margin-top: 0.25rem;
}

.gc-ml-6 {
  margin-left: 0.38rem;
}

.gc-mt-6 {
  margin-top: 0.38rem;
}

.gc-ml-8 {
  margin-left: 0.5rem;
}

.gc-mt-8 {
  margin-top: 0.5rem;
}

.gc-ml-10 {
  margin-left: 0.63rem;
}

.gc-mt-10 {
  margin-top: 0.63rem;
}

.gc-ml-12 {
  margin-left: 0.75rem;
}

.gc-mt-12 {
  margin-top: 0.75rem;
}

.gc-ml-14 {
  margin-left: 0.88rem;
}

.gc-mt-14 {
  margin-top: 0.88rem;
}

.gc-ml-16 {
  margin-left: 1rem;
}

.gc-mt-16 {
  margin-top: 1rem;
}

.gc-ml-18 {
  margin-left: 1.13rem;
}

.gc-mt-18 {
  margin-top: 1.13rem;
}

.gc-ml-20 {
  margin-left: 1.25rem;
}

.gc-mt-20 {
  margin-top: 1.25rem;
}

.gc-ml-22 {
  margin-left: 1.38rem;
}

.gc-mt-22 {
  margin-top: 1.38rem;
}

.gc-ml-24 {
  margin-left: 1.5rem;
}

.gc-mt-24 {
  margin-top: 1.5rem;
}

.gc-ml-26 {
  margin-left: 1.63rem;
}

.gc-mt-26 {
  margin-top: 1.63rem;
}

.gc-ml-28 {
  margin-left: 1.75rem;
}

.gc-mt-28 {
  margin-top: 1.75rem;
}

.gc-ml-30 {
  margin-left: 1.88rem;
}

.gc-mt-30 {
  margin-top: 1.88rem;
}

.gc-ml-32 {
  margin-left: 2rem;
}

.gc-mt-32 {
  margin-top: 2rem;
}

.gc-ml-34 {
  margin-left: 2.13rem;
}

.gc-mt-34 {
  margin-top: 2.13rem;
}

.gc-ml-36 {
  margin-left: 2.25rem;
}

.gc-mt-36 {
  margin-top: 2.25rem;
}

.gc-ml-38 {
  margin-left: 2.38rem;
}

.gc-mt-38 {
  margin-top: 2.38rem;
}

.gc-ml-40 {
  margin-left: 2.5rem;
}

.gc-mt-40 {
  margin-top: 2.5rem;
}

.gc-ml-42 {
  margin-left: 2.63rem;
}

.gc-mt-42 {
  margin-top: 2.63rem;
}

.gc-ml-44 {
  margin-left: 2.75rem;
}

.gc-mt-44 {
  margin-top: 2.75rem;
}

.gc-ml-46 {
  margin-left: 2.88rem;
}

.gc-mt-46 {
  margin-top: 2.88rem;
}

.gc-ml-48 {
  margin-left: 3rem;
}

.gc-mt-48 {
  margin-top: 3rem;
}

.gc-ml-50 {
  margin-left: 3.13rem;
}

.gc-mt-50 {
  margin-top: 3.13rem;
}

.gc-ml-52 {
  margin-left: 3.25rem;
}

.gc-mt-52 {
  margin-top: 3.25rem;
}

.gc-ml-54 {
  margin-left: 3.38rem;
}

.gc-mt-54 {
  margin-top: 3.38rem;
}

.gc-ml-56 {
  margin-left: 3.5rem;
}

.gc-mt-56 {
  margin-top: 3.5rem;
}

.gc-ml-58 {
  margin-left: 3.63rem;
}

.gc-mt-58 {
  margin-top: 3.63rem;
}

.gc-ml-60 {
  margin-left: 3.75rem;
}

.gc-mt-60 {
  margin-top: 3.75rem;
}

.gc-ml-62 {
  margin-left: 3.88rem;
}

.gc-mt-62 {
  margin-top: 3.88rem;
}

.gc-ml-64 {
  margin-left: 4rem;
}

.gc-mt-64 {
  margin-top: 4rem;
}

.gc-ml-66 {
  margin-left: 4.13rem;
}

.gc-mt-66 {
  margin-top: 4.13rem;
}

.gc-ml-68 {
  margin-left: 4.25rem;
}

.gc-mt-68 {
  margin-top: 4.25rem;
}

.gc-ml-70 {
  margin-left: 4.38rem;
}

.gc-mt-70 {
  margin-top: 4.38rem;
}

.gc-ml-72 {
  margin-left: 4.5rem;
}

.gc-mt-72 {
  margin-top: 4.5rem;
}

.gc-ml-74 {
  margin-left: 4.63rem;
}

.gc-mt-74 {
  margin-top: 4.63rem;
}

.gc-ml-76 {
  margin-left: 4.75rem;
}

.gc-mt-76 {
  margin-top: 4.75rem;
}

.gc-ml-78 {
  margin-left: 4.88rem;
}

.gc-mt-78 {
  margin-top: 4.88rem;
}

.gc-ml-80 {
  margin-left: 5rem;
}

.gc-mt-80 {
  margin-top: 5rem;
}

.gc-ml-82 {
  margin-left: 5.13rem;
}

.gc-mt-82 {
  margin-top: 5.13rem;
}

.gc-ml-84 {
  margin-left: 5.25rem;
}

.gc-mt-84 {
  margin-top: 5.25rem;
}

.gc-ml-86 {
  margin-left: 5.38rem;
}

.gc-mt-86 {
  margin-top: 5.38rem;
}

.gc-ml-88 {
  margin-left: 5.5rem;
}

.gc-mt-88 {
  margin-top: 5.5rem;
}

.gc-ml-90 {
  margin-left: 5.63rem;
}

.gc-mt-90 {
  margin-top: 5.63rem;
}

.gc-ml-92 {
  margin-left: 5.75rem;
}

.gc-mt-92 {
  margin-top: 5.75rem;
}

.gc-ml-94 {
  margin-left: 5.88rem;
}

.gc-mt-94 {
  margin-top: 5.88rem;
}

.gc-ml-96 {
  margin-left: 6rem;
}

.gc-mt-96 {
  margin-top: 6rem;
}

.gc-ml-98 {
  margin-left: 6.13rem;
}

.gc-mt-98 {
  margin-top: 6.13rem;
}

.gc-ml-100 {
  margin-left: 6.25rem;
}

.gc-mt-100 {
  margin-top: 6.25rem;
}